[user]
	name = Masaya Kazama
	email = miyan@t-p.jp
	username = miyaoka
[core]
	excludesfile = ~/.gitignore_global
	editor = code -w
	ignorecase = false
[ghq]
  root = ~/src
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
  l = log --date=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn %Creset%s'
  ll = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  lg = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
  lm = log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  # デフォルトで新しい順にする
  b = branch --sort=-authordate
  ba = !git b -a
  co = checkout
  com = checkout master
  cob = checkout -b
  cop = "!f () { git checkout $1; git pull; };f"
  # pecoでローカルブランチ切り替え
  coi = !git b --sort=-authordate | peco | awk '{ print $NF }' | xargs git co
  # pecoでリモートブランチチェックアウト
  cor = !git ftp && git b --sort=-authordate -a | peco --query 'remotes/ ' | head -n 1 | sed "s/^\\*\\s*//" | sed -E 's/remotes\\/[^\\/]*\\/(.*)/\\1 &/' | xargs git cob
  a = add
  ap = add -p
  aa = !git add -A && git s
  aaa = !git aa && git wip
  c = commit
  cv = commit -v
  cm = commit -m
  wip = commit -m 'WIP'
  cam = commit --amend -m
  can = commit --amend --no-edit
  caan = commit -a --amend --no-edit
  amend = commit --amend -C HEAD
  d = diff
  dc = diff --cached
  dn = diff --name-only
  dw = diff --color-words
  um = !git --no-pager diff --name-only --diff-filter=U
  ft = fetch
  ftp = fetch --prune
  pl = pull
  ps = push
  psc = push origin head -u
  info = remote show origin
  s = status --short --branch
  # st = status
  st = stash
  stp = stash pop
  stl = stash list
  sta = stash apply
  r = reset
  rs = reset --soft
  rsh = reset --soft HEAD
  rh = reset --hard
  # reset hard to origin
  rho = !git cbn | sed 's/\\.*/origin\\/&/' | xargs git rh
  rhh = reset --hard HEAD
  r1 = reset @^1
  rl = reflog show -n 20
  rb = rebase
  rbi = rebase -i
  rbh = rebase HEAD
  rbo = rebase --onto
  sync = !git checkout master && git pull origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v '*')
  ignore = "!f() { echo $1 >> \"${GIT_PREFIX}.gitignore\"; }; f"
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
#  cb = "!f () { git checkout $1; git pull; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
#  cball = !git cb master && git cb beta && git cb develop
  # delete-merged-branch
  dmb = "!f () { git branch --merged $1 | egrep -v "$1$" | xargs -I% git branch -d %; }; f"
  # delete-merged-branch-remote
  dmbr = "!f () { git branch -r --merged $1 | sed -e 's% *origin/%%' | egrep -v "$1$" | xargs -I% git push --delete origin %; }; f"
  # current branch name
  cbn = rev-parse --abbrev-ref HEAD
  # 指定ブランチにマージ済みのブランチは削除する: refresh (default: master)
  rf = "!f () { git fetch --prune; git cop ${1:-master}; git dmb ${1:-master}; git dmbr ${1:-master}; };f"
  # カレントブランチにマージ済みのブランチは削除する: refresh current
  rfc = "!f () { git fetch --prune; git cbn | xargs git rf; };f"
[push]
	default = simple
[credential]
	helper = cache
