[user]
	name = Masaya Kazama
	email = miyaokamiyao@gmail.com
	username = miyaoka
[core]
	excludesfile = ~/.gitignore_global
	editor = code -w
	ignorecase = false
[ghq]
  root = ~/src
[alias]
  # add
  a = !git unstaged | xargs git add && git s
  ap = !git add -p $(git unstaged)
  aa = !git add -A && git s
  aaa = !git aa && git cm 'WIP'
  aaaa = !git swc "wip-$(date +%s)" && git add -A && git cm "emergency" -n && git psu

  # branch
  # デフォルトで新しい順にする
  b = branch --sort=-authordate
  # 日付付きでリスト
  fer = !git for-each-ref --sort=-committerdate --format='%(authordate:short) %(color:yellow)%(refname:short)%(color:reset) %(color:green)[%(authorname)]%(color:reset) %(subject)'
  bl = !git fer refs/heads
  br = !git fer refs/remotes | sed 's/origin\\///'
  # prune local branch
  blp = !git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D
  # delete local branch
  bld = !git bl | fzf --header '[delete local branch]' | awk '{ print $2 }' | xargs git branch -D
  # delete remote branch
  brd = !git br | fzf --header '[delete reteme branch]' | awk '{ print $2 }' | sed -r 's/([^\\/]+)\\/(.+)/\\1 \\2/g' | xargs git push -d origin
  # delete merged branch
  bmd = !git branch --merged | egrep -v '\\*|master|main|dev' | xargs git branch -d

  # clean
  cl = clean
  cld = clean -d
  # clf = clean -f
  # cldf = clean -df

  # commit
  c = commit
  cv = commit -v
  cm = commit -m
  cam = commit --amend -m
  can = commit --amend --no-edit
  cav = commit --amend -v

  # diff
  d = diff
  dc = diff --cached
  dcn = !git --no-pager diff --cached
  dn = diff --name-only
  um = !git --no-pager diff --name-only --diff-filter=U

  # fetch
  ft = fetch
  ftp = fetch --prune

  # log
  l = log --date=format:'%Y-%m-%d %H:%M' --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn %Creset%s'
  ll = !git l --stat
  lg = !git l --graph
  lm = !git l --merges

  # push
  ps = push
  psu = push -u origin HEAD
  # https://onk.hatenablog.jp/entry/2022/12/18/000000
  psf = push -f --force-with-lease --force-if-includes

  # reset
  r = !git staged | xargs git reset
  # reset all
  ra = reset
  # reset modified file
  rc = !git modified | xargs git checkout && git s
  rh = reset --hard
  # reset-hard to origin
  rho = !git cbn | sed 's/\\.*/origin\\/&/' | xargs git rh
  rhh = reset --hard HEAD
  rr = reset @^1
  # reset to target commit
  rt = !git l | fzf --preview 'echo {} | awk \"{print \\$1 \\\"^ \\\" \\$1 }\" | xargs git diff --color=always' | awk '{ print $1 }' | xargs git reset && git s

  # rebase
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase -i
  rbii = rebase -i HEAD~10  
  rbh = rebase HEAD
  rbo = rebase --onto

  # stash
  s = status --short --branch
  st = stash
  stp = stash pop
  stl = stash list
  sta = stash apply

  # switch
  sw = switch
  sww = switch -
  # 最近switchした順のbranchから選択
  swww = !git reflog | sed -n 's/.*checkout:.* to \\(.*\\)$/\\1/p' | awk '!seen[$0]++' | fzf | xargs git switch
  swc = switch -c
  swm = switch main
  swd = switch dev
  swf = !fzf --exact --no-sort | awk '{ print $2 }' | xargs git sw
  # switch local branch
  swl = !git bl | git swf
  # switch remote branch
  swr = !git br | grep -v 'HEAD' | git swf
  # remote最新にしてマージ済みブランチ削除
  up = !git ftp && git rho && git dmb
  mm = !git swm && git up


  # other
  pl = pull
  rl = reflog show -n 20

  # util  
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
  cbn = branch --show-current # rev-parse --abbrev-ref HEAD
  staged = !git diff --name-only --cached | fzf -m --preview 'git diff --color=always HEAD {}'
  unstaged = !git ls-files -m -o --exclude-standard | fzf -m --preview 'git diff --color=always {}'
  modified = !git diff --name-only | fzf -m --preview 'git diff --color=always HEAD {}'
  info = remote show origin
[push]
	default = current
[credential]
	helper = cache
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
	conflictStyle = diff3
[rerere]
	enabled = true
